# 데이터 전처리
- 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np

In [2]:
metro_pd_raw = pd.read_csv('C:/Users/kangminju/Documents/ML_ws/seoul_metro.csv', encoding='euc-kr')

C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\78276847.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  metro_pd_raw = pd.read_csv('C:/Users/kangminju/Documents/ML_ws/seoul_metro.csv', encoding='euc-kr')

In [3]:
metro_pd_raw

,연번,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,...,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후
0,1,2022-01-01,1,150,서울역,승차,120,137,211,439,...,1566,1686,1591,1358,1062,899,1327,814,234,NaN
1,2,2022-01-01,1,150,서울역,하차,113,560,617,910,...,1329,1251,1126,884,764,654,728,416,131,NaN
2,3,2022-01-01,1,151,시청,승차,38,66,101,139,...,474,550,672,528,420,434,491,232,38,NaN
3,4,2022-01-01,1,151,시청,하차,31,195,224,380,...,408,377,354,213,131,98,137,61,24,NaN
4,5,2022-01-01,1,152,종각,승차,44,71,86,158,...,889,964,1024,803,855,1099,1209,255,62,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199075,199076,2022-12-31,8,2826,수진,하차,16,81,64,104,...,287,235,250,196,210,162,252,233,114,46.0
199076,199077,2022-12-31,8,2827,모란,승차,66,68,93,121,...,293,263,273,222,144,156,118,117,56,6.0
199077,199078,2022-12-31,8,2827,모란,하차,13,104,62,131,...,250,264,270,213,207,169,220,223,129,106.0
199078,199079,2022-12-31,8,2828,남위례,승차,23,60,86,150,...,262,260,248,220,134,157,167,151,73,14.0
199079,199080,2022-12-31,8,2828,남위례,하차,22,68,77,149,...,297,323,298,265,240,175,196,178,118,41.0

-  nan 칼럼 정리

In [4]:
metro_pd_raw.drop(['24시이후'],axis=1,inplace=True)

In [5]:
metro_pd_raw.head()

,연번,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,...,14-15시간대,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대
0,1,2022-01-01,1,150,서울역,승차,120,137,211,439,...,1323,1566,1686,1591,1358,1062,899,1327,814,234
1,2,2022-01-01,1,150,서울역,하차,113,560,617,910,...,1265,1329,1251,1126,884,764,654,728,416,131
2,3,2022-01-01,1,151,시청,승차,38,66,101,139,...,364,474,550,672,528,420,434,491,232,38
3,4,2022-01-01,1,151,시청,하차,31,195,224,380,...,475,408,377,354,213,131,98,137,61,24
4,5,2022-01-01,1,152,종각,승차,44,71,86,158,...,722,889,964,1024,803,855,1099,1209,255,62

-  시간 데이터가 모두 0인 데이터 삭제

In [8]:
metro_pd_raw[(metro_pd_raw['08-09시간대']==0)&(metro_pd_raw['17-18시간대']==0)]

,연번,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,...,14-15시간대,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대
1776,1777,2022-01-04,3,321,충무로,승차,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1777,1778,2022-01-04,3,321,충무로,하차,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2322,2323,2022-01-05,3,321,충무로,승차,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2323,2324,2022-01-05,3,321,충무로,하차,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2538,2539,2022-01-05,6,2615,연신내,승차,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195955,195956,2022-12-26,3,321,충무로,하차,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
197044,197045,2022-12-28,3,321,충무로,승차,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
197045,197046,2022-12-28,3,321,충무로,하차,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198134,198135,2022-12-30,3,321,충무로,승차,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198135,198136,2022-12-30,3,321,충무로,하차,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
metro_pd_raw[(metro_pd_raw['08-09시간대']==0)&(metro_pd_raw['17-18시간대']==0)] = np.nan

In [21]:
metro_pd_raw.loc[(metro_pd_raw['08-09시간대']==np.nan)&(metro_pd_raw['17-18시간대']==np.nan)]

Empty DataFrame
Columns: [연번, 수송일자, 호선, 고유역번호(외부역코드), 역명, 승하차구분, 06시이전, 06-07시간대, 07-08시간대, 08-09시간대, 09-10시간대, 10-11시간대, 11-12시간대, 12-13시간대, 13-14시간대, 14-15시간대, 15-16시간대, 16-17시간대, 17-18시간대, 18-19시간대, 19-20시간대, 20-21시간대, 21-22시간대, 22-23시간대, 23-24시간대]
Index: []

[0 rows x 25 columns]

In [22]:
metro_pd_raw = metro_pd_raw.dropna(axis=0)

In [23]:
metro_pd_raw

,연번,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,...,14-15시간대,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대
0,1.0,2022-01-01,1.0,150,서울역,승차,120.0,137.0,211.0,439.0,...,1323.0,1566.0,1686.0,1591.0,1358.0,1062.0,899.0,1327.0,814.0,234.0
1,2.0,2022-01-01,1.0,150,서울역,하차,113.0,560.0,617.0,910.0,...,1265.0,1329.0,1251.0,1126.0,884.0,764.0,654.0,728.0,416.0,131.0
2,3.0,2022-01-01,1.0,151,시청,승차,38.0,66.0,101.0,139.0,...,364.0,474.0,550.0,672.0,528.0,420.0,434.0,491.0,232.0,38.0
3,4.0,2022-01-01,1.0,151,시청,하차,31.0,195.0,224.0,380.0,...,475.0,408.0,377.0,354.0,213.0,131.0,98.0,137.0,61.0,24.0
4,5.0,2022-01-01,1.0,152,종각,승차,44.0,71.0,86.0,158.0,...,722.0,889.0,964.0,1024.0,803.0,855.0,1099.0,1209.0,255.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199075,199076.0,2022-12-31,8.0,2826,수진,하차,16.0,81.0,64.0,104.0,...,264.0,287.0,235.0,250.0,196.0,210.0,162.0,252.0,233.0,114.0
199076,199077.0,2022-12-31,8.0,2827,모란,승차,66.0,68.0,93.0,121.0,...,288.0,293.0,263.0,273.0,222.0,144.0,156.0,118.0,117.0,56.0
199077,199078.0,2022-12-31,8.0,2827,모란,하차,13.0,104.0,62.0,131.0,...,141.0,250.0,264.0,270.0,213.0,207.0,169.0,220.0,223.0,129.0
199078,199079.0,2022-12-31,8.0,2828,남위례,승차,23.0,60.0,86.0,150.0,...,245.0,262.0,260.0,248.0,220.0,134.0,157.0,167.0,151.0,73.0
199079,199080.0,2022-12-31,8.0,2828,남위례,하차,22.0,68.0,77.0,149.0,...,264.0,297.0,323.0,298.0,265.0,240.0,175.0,196.0,178.0,118.0

In [24]:
metro_pd_raw.reset_index(drop=True)

,연번,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,...,14-15시간대,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대
0,1.0,2022-01-01,1.0,150,서울역,승차,120.0,137.0,211.0,439.0,...,1323.0,1566.0,1686.0,1591.0,1358.0,1062.0,899.0,1327.0,814.0,234.0
1,2.0,2022-01-01,1.0,150,서울역,하차,113.0,560.0,617.0,910.0,...,1265.0,1329.0,1251.0,1126.0,884.0,764.0,654.0,728.0,416.0,131.0
2,3.0,2022-01-01,1.0,151,시청,승차,38.0,66.0,101.0,139.0,...,364.0,474.0,550.0,672.0,528.0,420.0,434.0,491.0,232.0,38.0
3,4.0,2022-01-01,1.0,151,시청,하차,31.0,195.0,224.0,380.0,...,475.0,408.0,377.0,354.0,213.0,131.0,98.0,137.0,61.0,24.0
4,5.0,2022-01-01,1.0,152,종각,승차,44.0,71.0,86.0,158.0,...,722.0,889.0,964.0,1024.0,803.0,855.0,1099.0,1209.0,255.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198555,199076.0,2022-12-31,8.0,2826,수진,하차,16.0,81.0,64.0,104.0,...,264.0,287.0,235.0,250.0,196.0,210.0,162.0,252.0,233.0,114.0
198556,199077.0,2022-12-31,8.0,2827,모란,승차,66.0,68.0,93.0,121.0,...,288.0,293.0,263.0,273.0,222.0,144.0,156.0,118.0,117.0,56.0
198557,199078.0,2022-12-31,8.0,2827,모란,하차,13.0,104.0,62.0,131.0,...,141.0,250.0,264.0,270.0,213.0,207.0,169.0,220.0,223.0,129.0
198558,199079.0,2022-12-31,8.0,2828,남위례,승차,23.0,60.0,86.0,150.0,...,245.0,262.0,260.0,248.0,220.0,134.0,157.0,167.0,151.0,73.0
198559,199080.0,2022-12-31,8.0,2828,남위례,하차,22.0,68.0,77.0,149.0,...,264.0,297.0,323.0,298.0,265.0,240.0,175.0,196.0,178.0,118.0

-  날짜 데이터 정리

In [25]:
metro_pd_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198560 entries, 0 to 199079
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   연번            198560 non-null  float64
 1   수송일자          198560 non-null  object
 2   호선            198560 non-null  float64
 3   고유역번호(외부역코드)  198560 non-null  object
 4   역명            198560 non-null  object
 5   승하차구분         198560 non-null  object
 6   06시이전         198560 non-null  float64
 7   06-07시간대      198560 non-null  float64
 8   07-08시간대      198560 non-null  float64
 9   08-09시간대      198560 non-null  float64
 10  09-10시간대      198560 non-null  float64
 11  10-11시간대      198560 non-null  float64
 12  11-12시간대      198560 non-null  float64
 13  12-13시간대      198560 non-null  float64
 14  13-14시간대      198560 non-null  float64
 15  14-15시간대      198560 non-null  float64
 16  15-16시간대      198560 non-null  float64
 17  16-17시간대      198560 non-null  float64
 18  17-18시간대      198560 non-null  float64
 19  18-19시간대      198560 non-null  float64
 20  19-20시간대      198560 non-null  float64
 21  20-21시간대      198560 non-null  float64
 22  21-22시간대      198560 non-null  float64
 23  22-23시간대      198560 non-null  float64
 24  23-24시간대      198560 non-null  float64
dtypes: float64(21), object(4)
memory usage: 39.4+ MB

In [26]:
metro_pd_raw['수송일자'] = pd.to_datetime(metro_pd_raw['수송일자'])

C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\179577975.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metro_pd_raw['수송일자'] = pd.to_datetime(metro_pd_raw['수송일자'])

In [27]:
metro_pd_raw['요일'] = metro_pd_raw['수송일자'].dt.dayofweek

C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\1351020436.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metro_pd_raw['요일'] = metro_pd_raw['수송일자'].dt.dayofweek

In [28]:
metro_pd_raw.loc[metro_pd_raw['요일']>=5, 'weekend' ]='주말'

C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\4247588139.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metro_pd_raw.loc[metro_pd_raw['요일']>=5, 'weekend' ]='주말'

In [29]:
metro_pd_raw.loc[(metro_pd_raw['요일']<=4) & (metro_pd_raw['요일']>=0),'weekend' ]='평일'

In [30]:
metro_pd_raw

,연번,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,...,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,요일,weekend
0,1.0,2022-01-01,1.0,150,서울역,승차,120.0,137.0,211.0,439.0,...,1686.0,1591.0,1358.0,1062.0,899.0,1327.0,814.0,234.0,5,주말
1,2.0,2022-01-01,1.0,150,서울역,하차,113.0,560.0,617.0,910.0,...,1251.0,1126.0,884.0,764.0,654.0,728.0,416.0,131.0,5,주말
2,3.0,2022-01-01,1.0,151,시청,승차,38.0,66.0,101.0,139.0,...,550.0,672.0,528.0,420.0,434.0,491.0,232.0,38.0,5,주말
3,4.0,2022-01-01,1.0,151,시청,하차,31.0,195.0,224.0,380.0,...,377.0,354.0,213.0,131.0,98.0,137.0,61.0,24.0,5,주말
4,5.0,2022-01-01,1.0,152,종각,승차,44.0,71.0,86.0,158.0,...,964.0,1024.0,803.0,855.0,1099.0,1209.0,255.0,62.0,5,주말
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199075,199076.0,2022-12-31,8.0,2826,수진,하차,16.0,81.0,64.0,104.0,...,235.0,250.0,196.0,210.0,162.0,252.0,233.0,114.0,5,주말
199076,199077.0,2022-12-31,8.0,2827,모란,승차,66.0,68.0,93.0,121.0,...,263.0,273.0,222.0,144.0,156.0,118.0,117.0,56.0,5,주말
199077,199078.0,2022-12-31,8.0,2827,모란,하차,13.0,104.0,62.0,131.0,...,264.0,270.0,213.0,207.0,169.0,220.0,223.0,129.0,5,주말
199078,199079.0,2022-12-31,8.0,2828,남위례,승차,23.0,60.0,86.0,150.0,...,260.0,248.0,220.0,134.0,157.0,167.0,151.0,73.0,5,주말
199079,199080.0,2022-12-31,8.0,2828,남위례,하차,22.0,68.0,77.0,149.0,...,323.0,298.0,265.0,240.0,175.0,196.0,178.0,118.0,5,주말

- 인덱스 정리

In [31]:
metro_pd_raw.drop(['연번'],axis=1,inplace=True)

C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\1738545668.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metro_pd_raw.drop(['연번'],axis=1,inplace=True)

In [32]:
metro_pd_raw=metro_pd_raw.reset_index(drop=True)

In [33]:
metro_pd_raw.head()

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,요일,weekend
0,2022-01-01,1.0,150,서울역,승차,120.0,137.0,211.0,439.0,592.0,...,1686.0,1591.0,1358.0,1062.0,899.0,1327.0,814.0,234.0,5,주말
1,2022-01-01,1.0,150,서울역,하차,113.0,560.0,617.0,910.0,1232.0,...,1251.0,1126.0,884.0,764.0,654.0,728.0,416.0,131.0,5,주말
2,2022-01-01,1.0,151,시청,승차,38.0,66.0,101.0,139.0,121.0,...,550.0,672.0,528.0,420.0,434.0,491.0,232.0,38.0,5,주말
3,2022-01-01,1.0,151,시청,하차,31.0,195.0,224.0,380.0,283.0,...,377.0,354.0,213.0,131.0,98.0,137.0,61.0,24.0,5,주말
4,2022-01-01,1.0,152,종각,승차,44.0,71.0,86.0,158.0,158.0,...,964.0,1024.0,803.0,855.0,1099.0,1209.0,255.0,62.0,5,주말

-  사용 칼럼 추출

In [34]:
metro_pd_raw_new=metro_pd_raw[['수송일자','역명','호선','고유역번호(외부역코드)','승하차구분','weekend']]

In [35]:
metro_pd_raw_new.head()

        수송일자   역명   호선 고유역번호(외부역코드) 승하차구분 weekend
0 2022-01-01  서울역  1.0          150    승차      주말
1 2022-01-01  서울역  1.0          150    하차      주말
2 2022-01-01   시청  1.0          151    승차      주말
3 2022-01-01   시청  1.0          151    하차      주말
4 2022-01-01   종각  1.0          152    승차      주말

- 시간 칼럼 숫자로 만들기

In [36]:
time_list =[int(i[:2]) for i in metro_pd_raw.columns.to_list()[5:24]]

In [37]:
time_list[0]=5

In [38]:
time_list

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

In [39]:
len(time_list)

19

- 시간 칼럼 명 변경

In [40]:
old_columns_list=metro_pd_raw.columns.to_list()[5:24]
new_columns_list=time_list

In [41]:
for i in range(0,19):
    metro_pd_raw.rename(columns={old_columns_list[i]:str(new_columns_list[i])}, inplace=True)

In [42]:
metro_pd_raw_new

             수송일자   역명   호선 고유역번호(외부역코드) 승하차구분 weekend
0      2022-01-01  서울역  1.0          150    승차      주말
1      2022-01-01  서울역  1.0          150    하차      주말
2      2022-01-01   시청  1.0          151    승차      주말
3      2022-01-01   시청  1.0          151    하차      주말
4      2022-01-01   종각  1.0          152    승차      주말
...           ...  ...  ...          ...   ...     ...
198555 2022-12-31   수진  8.0         2826    하차      주말
198556 2022-12-31   모란  8.0         2827    승차      주말
198557 2022-12-31   모란  8.0         2827    하차      주말
198558 2022-12-31  남위례  8.0         2828    승차      주말
198559 2022-12-31  남위례  8.0         2828    하차      주말

[198560 rows x 6 columns]

-  시간 칼럼 추가하기

In [43]:
metro_pd_new = metro_pd_raw_new.copy()

In [44]:
for i in range(0,18):
    metro_pd_new=metro_pd_new.append(metro_pd_raw_new)

C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)
C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)
C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)
C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)
C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)
C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)
C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)
C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)
C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)
C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)
C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)
C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)
C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)
C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)
C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)
C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)
C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2060610373.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  metro_pd_new=metro_pd_new.append(metro_pd_raw_new)

In [45]:
metro_pd_new.sort_index(ascending=True, inplace=True)

In [46]:
metro_pd_new['time']=time_list*len(metro_pd_raw_new)

In [47]:
metro_pd_new

             수송일자   역명   호선 고유역번호(외부역코드) 승하차구분 weekend  time
0      2022-01-01  서울역  1.0          150    승차      주말     5
0      2022-01-01  서울역  1.0          150    승차      주말     6
0      2022-01-01  서울역  1.0          150    승차      주말     7
0      2022-01-01  서울역  1.0          150    승차      주말     8
0      2022-01-01  서울역  1.0          150    승차      주말     9
...           ...  ...  ...          ...   ...     ...   ...
198559 2022-12-31  남위례  8.0         2828    하차      주말    19
198559 2022-12-31  남위례  8.0         2828    하차      주말    20
198559 2022-12-31  남위례  8.0         2828    하차      주말    21
198559 2022-12-31  남위례  8.0         2828    하차      주말    22
198559 2022-12-31  남위례  8.0         2828    하차      주말    23

[3772640 rows x 7 columns]

- 인원 칼럼 추가

In [48]:
metro_pd_raw.head()

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,5,6,7,8,9,...,16,17,18,19,20,21,22,23,요일,weekend
0,2022-01-01,1.0,150,서울역,승차,120.0,137.0,211.0,439.0,592.0,...,1686.0,1591.0,1358.0,1062.0,899.0,1327.0,814.0,234.0,5,주말
1,2022-01-01,1.0,150,서울역,하차,113.0,560.0,617.0,910.0,1232.0,...,1251.0,1126.0,884.0,764.0,654.0,728.0,416.0,131.0,5,주말
2,2022-01-01,1.0,151,시청,승차,38.0,66.0,101.0,139.0,121.0,...,550.0,672.0,528.0,420.0,434.0,491.0,232.0,38.0,5,주말
3,2022-01-01,1.0,151,시청,하차,31.0,195.0,224.0,380.0,283.0,...,377.0,354.0,213.0,131.0,98.0,137.0,61.0,24.0,5,주말
4,2022-01-01,1.0,152,종각,승차,44.0,71.0,86.0,158.0,158.0,...,964.0,1024.0,803.0,855.0,1099.0,1209.0,255.0,62.0,5,주말

In [49]:
df_example=metro_pd_raw[['5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23']]

In [50]:
df_example

,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23
0,120.0,137.0,211.0,439.0,592.0,878.0,1278.0,1508.0,1502.0,1323.0,1566.0,1686.0,1591.0,1358.0,1062.0,899.0,1327.0,814.0,234.0
1,113.0,560.0,617.0,910.0,1232.0,1260.0,1028.0,1555.0,1264.0,1265.0,1329.0,1251.0,1126.0,884.0,764.0,654.0,728.0,416.0,131.0
2,38.0,66.0,101.0,139.0,121.0,137.0,246.0,327.0,282.0,364.0,474.0,550.0,672.0,528.0,420.0,434.0,491.0,232.0,38.0
3,31.0,195.0,224.0,380.0,283.0,309.0,359.0,496.0,508.0,475.0,408.0,377.0,354.0,213.0,131.0,98.0,137.0,61.0,24.0
4,44.0,71.0,86.0,158.0,158.0,201.0,354.0,506.0,586.0,722.0,889.0,964.0,1024.0,803.0,855.0,1099.0,1209.0,255.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198555,16.0,81.0,64.0,104.0,141.0,143.0,183.0,201.0,308.0,264.0,287.0,235.0,250.0,196.0,210.0,162.0,252.0,233.0,114.0
198556,66.0,68.0,93.0,121.0,166.0,185.0,234.0,356.0,319.0,288.0,293.0,263.0,273.0,222.0,144.0,156.0,118.0,117.0,56.0
198557,13.0,104.0,62.0,131.0,100.0,159.0,214.0,228.0,199.0,141.0,250.0,264.0,270.0,213.0,207.0,169.0,220.0,223.0,129.0
198558,23.0,60.0,86.0,150.0,167.0,199.0,250.0,293.0,262.0,245.0,262.0,260.0,248.0,220.0,134.0,157.0,167.0,151.0,73.0
198559,22.0,68.0,77.0,149.0,152.0,165.0,141.0,196.0,217.0,264.0,297.0,323.0,298.0,265.0,240.0,175.0,196.0,178.0,118.0

In [51]:
df_example = df_example.reset_index(drop=True)

In [52]:
df_example

,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23
0,120.0,137.0,211.0,439.0,592.0,878.0,1278.0,1508.0,1502.0,1323.0,1566.0,1686.0,1591.0,1358.0,1062.0,899.0,1327.0,814.0,234.0
1,113.0,560.0,617.0,910.0,1232.0,1260.0,1028.0,1555.0,1264.0,1265.0,1329.0,1251.0,1126.0,884.0,764.0,654.0,728.0,416.0,131.0
2,38.0,66.0,101.0,139.0,121.0,137.0,246.0,327.0,282.0,364.0,474.0,550.0,672.0,528.0,420.0,434.0,491.0,232.0,38.0
3,31.0,195.0,224.0,380.0,283.0,309.0,359.0,496.0,508.0,475.0,408.0,377.0,354.0,213.0,131.0,98.0,137.0,61.0,24.0
4,44.0,71.0,86.0,158.0,158.0,201.0,354.0,506.0,586.0,722.0,889.0,964.0,1024.0,803.0,855.0,1099.0,1209.0,255.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198555,16.0,81.0,64.0,104.0,141.0,143.0,183.0,201.0,308.0,264.0,287.0,235.0,250.0,196.0,210.0,162.0,252.0,233.0,114.0
198556,66.0,68.0,93.0,121.0,166.0,185.0,234.0,356.0,319.0,288.0,293.0,263.0,273.0,222.0,144.0,156.0,118.0,117.0,56.0
198557,13.0,104.0,62.0,131.0,100.0,159.0,214.0,228.0,199.0,141.0,250.0,264.0,270.0,213.0,207.0,169.0,220.0,223.0,129.0
198558,23.0,60.0,86.0,150.0,167.0,199.0,250.0,293.0,262.0,245.0,262.0,260.0,248.0,220.0,134.0,157.0,167.0,151.0,73.0
198559,22.0,68.0,77.0,149.0,152.0,165.0,141.0,196.0,217.0,264.0,297.0,323.0,298.0,265.0,240.0,175.0,196.0,178.0,118.0

In [53]:
df_example=df_example.transpose()

In [54]:
df_example

,0,1,2,3,4,5,6,7,8,9,...,198550,198551,198552,198553,198554,198555,198556,198557,198558,198559
5,120.0,113.0,38.0,31.0,44.0,33.0,74.0,43.0,37.0,14.0,...,176.0,35.0,91.0,12.0,93.0,16.0,66.0,13.0,23.0,22.0
6,137.0,560.0,66.0,195.0,71.0,136.0,73.0,139.0,55.0,80.0,...,266.0,142.0,90.0,56.0,129.0,81.0,68.0,104.0,60.0,68.0
7,211.0,617.0,101.0,224.0,86.0,199.0,67.0,124.0,74.0,137.0,...,385.0,118.0,128.0,56.0,142.0,64.0,93.0,62.0,86.0,77.0
8,439.0,910.0,139.0,380.0,158.0,334.0,164.0,272.0,95.0,239.0,...,532.0,220.0,254.0,128.0,303.0,104.0,121.0,131.0,150.0,149.0
9,592.0,1232.0,121.0,283.0,158.0,489.0,201.0,414.0,194.0,374.0,...,564.0,238.0,240.0,154.0,270.0,141.0,166.0,100.0,167.0,152.0
10,878.0,1260.0,137.0,309.0,201.0,604.0,296.0,658.0,209.0,482.0,...,607.0,242.0,218.0,160.0,270.0,143.0,185.0,159.0,199.0,165.0
11,1278.0,1028.0,246.0,359.0,354.0,671.0,526.0,859.0,418.0,664.0,...,621.0,351.0,251.0,183.0,292.0,183.0,234.0,214.0,250.0,141.0
12,1508.0,1555.0,327.0,496.0,506.0,924.0,805.0,1213.0,538.0,983.0,...,601.0,371.0,308.0,296.0,313.0,201.0,356.0,228.0,293.0,196.0
13,1502.0,1264.0,282.0,508.0,586.0,1008.0,778.0,1251.0,735.0,1034.0,...,630.0,432.0,297.0,345.0,284.0,308.0,319.0,199.0,262.0,217.0
14,1323.0,1265.0,364.0,475.0,722.0,902.0,870.0,1265.0,842.0,951.0,...,594.0,420.0,263.0,324.0,246.0,264.0,288.0,141.0,245.0,264.0
15,1566.0,1329.0,474.0,408.0,889.0,832.0,1110.0,993.0,850.0,822.0,...,529.0,460.0,289.0,318.0,312.0,287.0,293.0,250.0,262.0,297.0
16,1686.0,1251.0,550.0,377.0,964.0,994.0,1178.0,805.0,938.0,738.0,...,526.0,594.0,322.0,282.0,300.0,235.0,263.0,264.0,260.0,323.0
17,1591.0,1126.0,672.0,354.0,1024.0,731.0,1028.0,620.0,818.0,585.0,...,457.0,609.0,280.0,368.0,322.0,250.0,273.0,270.0,248.0,298.0
18,1358.0,884.0,528.0,213.0,803.0,448.0,861.0,453.0,620.0,384.0,...,357.0,590.0,211.0,339.0,226.0,196.0,222.0,213.0,220.0,265.0
19,1062.0,764.0,420.0,131.0,855.0,246.0,705.0,222.0,510.0,171.0,...,275.0,516.0,175.0,218.0,135.0,210.0,144.0,207.0,134.0,240.0
20,899.0,654.0,434.0,98.0,1099.0,146.0,871.0,127.0,479.0,90.0,...,194.0,428.0,169.0,199.0,120.0,162.0,156.0,169.0,157.0,175.0
21,1327.0,728.0,491.0,137.0,1209.0,130.0,1160.0,198.0,477.0,101.0,...,182.0,500.0,140.0,214.0,94.0,252.0,118.0,220.0,167.0,196.0
22,814.0,416.0,232.0,61.0,255.0,74.0,324.0,93.0,107.0,75.0,...,187.0,437.0,97.0,219.0,62.0,233.0,117.0,223.0,151.0,178.0
23,234.0,131.0,38.0,24.0,62.0,40.0,69.0,47.0,22.0,41.0,...,55.0,240.0,47.0,129.0,35.0,114.0,56.0,129.0,73.0,118.0

In [55]:
df_example[0]

5      120.0
6      137.0
7      211.0
8      439.0
9      592.0
10     878.0
11    1278.0
12    1508.0
13    1502.0
14    1323.0
15    1566.0
16    1686.0
17    1591.0
18    1358.0
19    1062.0
20     899.0
21    1327.0
22     814.0
23     234.0
Name: 0, dtype: float64

In [56]:
metro_pd_new['passenger'] = 0

In [57]:
result=pd.Series()

C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2380051478.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  result=pd.Series()

In [58]:
for i in range(len(metro_pd_raw_new)):
    result=pd.concat([result,df_example[i]])

In [59]:
re_result=result.reset_index()

In [60]:
metro_pd_new.reset_index(drop=True, inplace=True)

In [61]:
metro_pd_new['passenger']=re_result[0]

In [62]:
metro_pd_new

              수송일자   역명   호선 고유역번호(외부역코드) 승하차구분 weekend  time  passenger
0       2022-01-01  서울역  1.0          150    승차      주말     5      120.0
1       2022-01-01  서울역  1.0          150    승차      주말     6      137.0
2       2022-01-01  서울역  1.0          150    승차      주말     7      211.0
3       2022-01-01  서울역  1.0          150    승차      주말     8      439.0
4       2022-01-01  서울역  1.0          150    승차      주말     9      592.0
...            ...  ...  ...          ...   ...     ...   ...        ...
3772635 2022-12-31  남위례  8.0         2828    하차      주말    19      240.0
3772636 2022-12-31  남위례  8.0         2828    하차      주말    20      175.0
3772637 2022-12-31  남위례  8.0         2828    하차      주말    21      196.0
3772638 2022-12-31  남위례  8.0         2828    하차      주말    22      178.0
3772639 2022-12-31  남위례  8.0         2828    하차      주말    23      118.0

[3772640 rows x 8 columns]

In [64]:
metro_pd_new.to_csv('metro_pd_new.csv',encoding='euc-kr')

In [65]:
metro_pd_new = pd.read_csv('C:/Users/kangminju/Documents/ML_ws/metro_pd_new.csv', encoding='euc-kr', index_col=0)

C:\Users\kangminju\AppData\Local\Temp\ipykernel_15712\2699567521.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  metro_pd_new = pd.read_csv('C:/Users/kangminju/Documents/ML_ws/metro_pd_new.csv', encoding='euc-kr', index_col=0)